<launch>
    <!-- gtsam node-->
    <node name="gtsam_rosnode" pkg="gtsam_ros" type="gtsam_rosnode" output="screen">
    </node>

    <!-- main -->
    <node name="overall_workflow" pkg="gtsam_ros" type="overall_workflow.py" cwd="node" output="screen">
    </node>

    <!-- rviz -->
    <node name="rviz_dsam" pkg="rviz" type="rviz" args="-d $(find gtsam_ros)/rviz/dsam.rviz">
    </node>

</launch>